.container {
  max-width: 1200px; 
  min-height: 500px; 
  margin: 50px auto 0;
  padding: 30px; 
  background-color: #fffff5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(78, 69, 35, 0.578);
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 20px; 

}

.header {
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px; 
  grid-column: 1 / span 2; 
  color: #aa2b08;
  font-weight: bold;
}


.formGroup {
  margin-bottom: 15px;
}

.label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px; 
  display: block; 
  color: #201335;
  
}

.input,
.textarea {
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;   
  outline: 1px solid #201335;
}

.rating {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.star {
  color: #aaa;
  cursor: pointer;
  font-size: 24px;
  margin-right: 5px; 
}

.star.active {
  color: #FFD700;
}

.textarea {
  resize: vertical;
  min-height: 80px; 
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; 
  grid-column: 2 / 3; 
  align-self: end; 
}

.submitButton {
  padding: 10px 20px;
  font-size: 16px; 
  font-weight: bold;
  background-color: #ff5353;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submitButton:hover {
  background-color: #ff8279;
  box-shadow: 0 0 0 5px #ff6d6d5f;
  color: #000000;
}

.restaurantImage {
  background-color: #d9d9d9;
  width: 100%;
  height: 150px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 4px;
  grid-column: 1 / -1;
}

.restaurantImage::before {
  content: "resImagejaaa"; 
  font-size: 16px;
  color: #777;
}