.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
  }
.progress {
    background-color: #ffffff;
    width: 500px;
    height: 20px;
    border-radius: 100px;
    overflow: hidden;
    backface-visibility: hidden;
  }
  
  .inner {
    background-image: linear-gradient(to left, #FFB19B, #FFA78E, #FF9E83, #FF9679, #FF8E6F, #FF8564, #FF7F5C, #FF7751, #FF7F5C, #FF8564, #FF8E6F, #FF9E83);
    height: 100%;
    transform-origin: left;
    animation: progress 2s infinite;
  }
  
  @keyframes progress {
    0% {
      transform: scaleX(10%) translateX(-10%);
    }
  
    100% {
      transform: scaleX(80%) translateX(150%);
    }
  }
  